
.project-container{
    
    font-family: 'Poppins', sans-serif;
}

.project-header{
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    color: rgb(255,180,0);
}
.why{
    color: #fff;
}
.project-header h3{
    font-size: 40px;
    font-weight: 800;
}
.project-header p{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
}

.header-underline{
    height: 3px;
    width: 200px;
    /* background-color: rgb(102, 13, 13); */
    background-color:rgb(255,180,0);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-underline1{
    height: 9px;
    width: 40px;
    /* background-color: rgb(255, 7, 7); */
    background-color: rgb(255,180,0);
    position: absolute;
    border-radius: 5px;
}

.projectDetails{
    background-image: grey;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 2;
}
.projectCard{
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-template-rows: repeat(200px 200px);
    /* border: solid red 1px; */
    height: fit-content;
    width: 80%;
    /* display: flex; */
    justify-content: center;
    /* flex-wrap: wrap; */
    font-family: 'roboto', sans-serif;
    /* background-color: rgb(27,27,27); */
    color: white;
    margin: auto;
    gap: 30px;
   
}

.project-card{
     /* margin: 10px 20px;   */
     border-radius: 10px;
    overflow: hidden;
    background-color: rgb(27,27,27);
    box-sizing: border-box;
    /* box-shadow: rgba(163, 163, 163, 0.3) 0px 0px 0px 3px;
    box-shadow: white 0px 0px 0px 3px; */
    border: solid rgb(255,180,0) 2px;
   
} 
.contentProject{
    /* border: solid teal 1px; */
    height: 70px;
}

.project-card:hover{
    /* background-color: #fff; */
    transform: scale(1.001);
    margin-top: -10px;
    transition: .15s ease-in;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.projectImg{
    border-top: 1px solid rgb(242, 242, 242);
    border-bottom: 1px solid rgb(242, 242, 242);
   
    /* border: solid pink 1px; */
}
.cartImg{
    width: 100%;
}
/* .projectImg img{
    
} */

.projectInfo{
    padding: 20px 10px;
}
.projectName{
    text-align: center;
    padding: 10px 0;
    
}
.projectLinks{
    margin-bottom: 30px;
}
.projectLinks .projectbtn1{
    background-color: rgb(65, 109, 127);
    border: 2px solid rgb(65, 109, 127);
    border-radius: 6px;
    color: #fff;
    padding: 8px 50px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}
.projectLinks .projectbtn2{
    background-color: #fff;
    border: 2px solid rgb(65, 109, 127);
    border-radius: 6px;
    color: rgb(65, 109, 127);
    padding: 8px 50px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}
.projectLinks .projectbtn2:hover{
    background-color: rgb(255,180,0);
}
.projectLinks .projectbtn1:hover{
    /* background-color: rgb(4, 95, 221); */
    border: solid rgb(255,180,0) 0px;
    /* border: 2px solid rgb(4, 95, 221); */
    background-color: rgb(255,180,0);
}
.contentProject{
    text-align: justify;
    padding: 5px;
}
.techStack{
    padding: 15px;

}
.techStack img{
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 480px){
   
    .project-card{
        margin: 15px 00px;
    }
    
    .projectLinks .projectbtn1, .projectLinks .projectbtn2{
        padding: 8px 15px;
    }
}